CI_ENVIRONMENT = production

app.baseURL = 'https://YOUR-DOMAIN.COM/'
app.forceGlobalSecureRequests = true
app.CSPEnabled = true
app.facebookMessageUrl = 'https://www.facebook.com/profile.php?id=61578406907963'

database.default.hostname = localhost
database.default.database = YOUR_DATABASE_NAME
database.default.username = YOUR_DATABASE_USER
database.default.password = YOUR_DATABASE_PASSWORD
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306

session.driver = 'CodeIgniter\Session\Handlers\FileHandler'
session.savePath = '/home/YOUR_CPANEL_USER/tmp/ci4-session'

email.fromEmail = 'no-reply@YOUR-DOMAIN.COM'
email.fromName = 'White Sand Resort'
email.recipients = 'admin@YOUR-DOMAIN.COM'
email.protocol = 'smtp'
email.SMTPHost = 'smtp.YOUR-MAIL-HOST.COM'
email.SMTPUser = 'no-reply@YOUR-DOMAIN.COM'
email.SMTPPass = 'YOUR_SMTP_PASSWORD'
email.SMTPPort = 587
email.SMTPCrypto = 'tls'
email.mailType = 'html'
